*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;    
     background: url("./image/mind.jpg")no-repeat center center / cover;

}
html{
    font-size: 15px;   

}

.Display{
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}
.container{
    width: 415px;
    height:450px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.button-option{
    background: rgba(255, 255, 255, 0.295);
    height: 130px;
    width: 130px;
    border: none;
    border-radius: 5px;
    font-size: 100px;
    color: rgba(177, 0, 212, 0.589);
    transition: 0.3s;
}
.button-option:hover{
    background: rgba(255, 255, 255, 0.705);
}
#Restart{
    font-size: 20px;
    padding: 25px;
    border-radius: 5px;
    background-color: rgba(90, 0, 173, 0.589);
    color: white;
    border: none;
    position: relative;
    margin: 10px auto;
    display: block;
    transition: 0.3s;
}
#Restart:hover{
    background-color: rgba(163, 64, 255, 0.589);
}
.Result{
    background:gray;
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
    z-index: 2;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
    font-size: 70px;
    background: url('./image/mind.jpg') no-repeat center center/cover;

}
#NewGame{
    padding: 20px 30px;
    background-color: rgba(107, 0, 156, 0.589);
    font-size: 40px;
    color: white;
    border-radius: 10px;
    border: none;
    transition: 0.3s;
}
#NewGame:hover{
    background-color: rgba(195, 67, 255, 0.589);
}
#message{
    color: rgba(108, 0, 209, 0.589);
    text-align: center;
    font-size: 65px;
   

}
.Result.hide{
    display: none;
}